:root {
  --primary-white-color: #ffffff;
  --secondary-bg-color: #2f303a;
  --accent-color: #2196f3;
  --primary-text-color: #212121;
  --secondary-text-color: #757575;
  --footer-text-color: rgba(255, 255, 255, 0.6);
  --grey-bg-color: #f5f4fa;
  --btn-hover-bg-color: #188ce8;
  --card-set-gap: 30px;
  --icon-color: #afb1b8;
  --transition-duration: 250ms;
  --transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.visually-hidden {
  position: absolute;
  clip: rect(0 0 0 0);
  width: 1px;
  height: 1px;
  margin: -1px;
}

body {
  background-color: var(--primary-white-color);
  color: var(--primary-text-color);
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-size: 14px;
  letter-spacing: 0.03em;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: inherit;
  margin: 0;
}

p {
  margin: 0;
}

ul,
ol {
  margin: 0;
  padding: 0;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

a {
  display: block;
  height: 100%;
  width: 100%;
}

.link {
  text-decoration: none;
}

.list {
  list-style-type: none;
}

.container {
  width: 100%;
  max-width: 480px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 15px;
  padding-right: 15px;
}

@media screen and (min-width: 480px) {
  .container {
    width: 480px;
  }
}

.header .container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.logo {
  font-family: "Raleway";
  font-weight: 700;
  font-size: 24px;
  line-height: 1.16;
}

.logo.black {
  padding-top: 16px;
  padding-bottom: 16px;
  color: var(--primary-text-color);
}

.logo.white {
  display: inline-block;
  margin-bottom: 20px;
  text-align: center;
  color: var(--primary-white-color);
}

.logo-web {
  color: var(--accent-color);
}

.mobile-menu {
  opacity: 0;
  visibility: hidden;
  position: fixed;
  top: 0;
  left: 50%;
  z-index: 99;
  transform: translateX(-50%) translateY(-100%);
  transition: transform var(--transition-duration) var(--transition-timing-function);
  width: 100%;
  max-width: 480px;
  height: 100vh;
  padding-top: 48px;
  padding-left: 40px;
  padding-bottom: 48px;
  padding-right: 40px;
  overflow: scroll;
  background-color: white;
}

.mobile-menu.is-open {
  opacity: 1;
  visibility: visible;
  transform: translateX(-50%) translateY(0%);
}

.menu-close-btn {
  position: absolute;
  top: 10px;
  right: 15px;
  width: 40px;
  height: 40px;
  background-color: transparent;
  border: transparent;
  cursor: pointer;
}

.menu-close-icon {
  width: 18px;
  height: 18px;
  fill: #000000;
}

.menu-close-btn:hover .menu-close-icon,
.menu-close-btn:focus .menu-close-icon {
  fill: var(--accent-color);
}

.nav-mobile {
  margin-bottom: 302px;
}

.nav-mobile-item:not(:last-child) {
  margin-bottom: 32px;
}

.nav-mobile-link {
  font-weight: 500;
  font-size: 40px;
  line-height: 1.175;
  letter-spacing: 0.02em;
  color: var(--primary-text-color);
}

.nav-mobile-link:hover, .nav-mobile-link:focus {
  color: var(--accent-color);
}

.mobile-contact-list {
  margin-bottom: 64px;
}

.mobile-contact-tel {
  font-weight: 500;
  font-size: 34px;
  line-height: 1.176;
  letter-spacing: 0.02em;
  color: var(--accent-color);
}

.mobile-contact-item:not(:last-child) {
  margin-bottom: 32px;
}

.mobile-contact-mail {
  font-weight: 500;
  font-size: 24px;
  line-height: 1.167;
  letter-spacing: 0.02em;
  color: var(--secondary-text-color);
}

.mobile-social-list {
  display: flex;
  text-align: center;
}

.mobile-social-item {
  position: relative;
}

.mobile-social-item:not(:last-child) {
  margin-right: 20px;
}

.mobile-social-item:not(:last-child)::after {
  position: absolute;
  content: "";
  top: 50%;
  right: -20px;
  width: 22px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  transform: rotate(90deg) translateY(-50%);
}

.mobile-social-link {
  font-weight: 500;
  font-size: 18px;
  line-height: 1.222;
  letter-spacing: 0.02em;
  color: var(--accent-color);
}

.title {
  margin-bottom: 30px;
  font-weight: 700;
  font-size: 28px;
  line-height: 1.179;
  text-align: center;
}

.filter-btn-list {
  display: flex;
  justify-content: start;
  flex-wrap: wrap;
  margin-bottom: 25px;
  margin-right: -8px;
}

.filter-btn-item {
  margin-right: 8px;
  margin-bottom: 15px;
}

.filter-btn {
  padding-top: 6px;
  padding-bottom: 6px;
  padding-right: 22px;
  padding-left: 22px;
  text-align: center;
  justify-content: center;
  border-radius: 4px;
  border: transparent;
  background-color: #f5f4fa;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.62;
  transition: background-color var(--transition-duration) var(--transition-timing-function), color var(--transition-duration) var(--transition-timing-function), box-shadow var(--transition-duration) var(--transition-timing-function);
}

.filter-btn:hover, .filter-btn:focus {
  color: var(--primary-white-color);
  background-color: var(--accent-color);
  cursor: pointer;
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
}

.social-list {
  display: flex;
  align-items: center;
  justify-content: center;
}

.social-list-item {
  width: 44px;
  height: 44px;
}

.social-list-item:not(:last-child) {
  margin-right: 10px;
}

.social-list-link {
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  transition: background-color var(--transition-duration) var(--transition-timing-function);
}

.social-list-link:hover, .social-list-link:focus {
  background-color: var(--accent-color);
}

.social-list-icon {
  fill: var(--icon-color);
  width: 20px;
  height: 20px;
  transition: fill var(--transition-duration) var(--transition-timing-function);
}

.social-list-link:hover .social-list-icon,
.social-list-link:focus .social-list-icon {
  fill: var(--primary-white-color);
}

.modal-btn {
  display: flex;
  align-items: center;
  text-align: center;
  border: transparent;
  border-radius: 4px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  padding: 10px 29px;
  color: var(--primary-white-color);
  background-color: var(--accent-color);
  font-weight: 700;
  font-size: 16px;
  line-height: 1.875;
  letter-spacing: 0.06em;
  transition: background-color var(--transition-duration) var(--transition-timing-function);
}

.modal-btn:hover, .modal-btn:focus {
  background-color: var(--btn-hover-bg-color);
  cursor: pointer;
}

.modal-btn.user-form-btn {
  margin-left: auto;
  margin-right: auto;
}

.header {
  border-bottom: 1px solid #ececec;
}

.mobile-burger-btn {
  width: 40px;
  height: 40px;
  background-color: transparent;
  border: transparent;
}

.mobile-burger-icon {
  width: 24px;
  height: 16px;
  fill: #000000;
}

.mobile-burger-btn:hover .mobile-burger-icon,
.mobile-burger-btn:focus .mobile-burger-icon {
  fill: var(--accent-color);
}

/* -------NAV-LIST--------- */
.nav-list {
  display: none;
}

.nav-list-item:not(:last-child) {
  margin-right: 50px;
}

.nav-list-link {
  padding-top: 32px;
  padding-bottom: 32px;
  color: var(--primary-text-color);
  font-weight: 500;
  line-height: 1.066;
  letter-spacing: 0.02em;
  transition: color var(--transition-duration) var(--transition-timing-function);
}

.nav-list-link:hover, .nav-list-link:focus {
  color: var(--accent-color);
}

.current-link {
  position: relative;
  color: var(--accent-color);
}

.current-link::after {
  position: absolute;
  bottom: -2px;
  right: 0;
  display: block;
  content: "";
  width: 100%;
  height: 4px;
  background-color: var(--accent-color);
  border-radius: 2px;
}

/* ----------HEADER-CONTACT----------- */
.header-contact-list {
  display: none;
  align-items: center;
  margin-left: auto;
  font-weight: 500;
  line-height: 1.142;
  letter-spacing: 0.02em;
}

.header-contact-list-item {
  display: none;
}

.header-contact-list-item:not(:last-child) {
  margin-right: 50px;
}

.header-contact-list-item .link {
  display: flex;
  align-items: center;
  padding-top: 32px;
  padding-bottom: 32px;
  color: var(--secondary-text-color);
  transition: color var(--transition-duration) var(--transition-timing-function);
}

.header-contact-list-item .link:hover, .header-contact-list-item .link:focus {
  color: var(--accent-color);
}

.icon-mail {
  margin-right: 10px;
  width: 16px;
  height: 12px;
  transition: fill var(--transition-duration) var(--transition-timing-function);
}

.header-contact-list-item .link:hover .icon-mail,
.header-contact-list-item .link:focus .icon-mail {
  fill: var(--accent-color);
}

.icon-tel {
  margin-right: 10px;
  width: 10px;
  height: 16px;
  transition: fill var(--transition-duration) var(--transition-timing-function);
}

.header-contact-list-item .link:hover .icon-tel,
.header-contact-list-item .link:focus .icon-tel {
  fill: var(--accent-color);
}

.portfolio {
  padding-top: 60px;
  padding-bottom: 60px;
}

.examples-list-item {
  background: var(--primary-white-color);
  border: 1px solid #eeeeee;
}

.examples-list-item:not(:last-child) {
  margin-bottom: 30px;
}

.examples-list-link {
  transition: box-shadow var(--transition-duration) var(--transition-timing-function);
}

.examples-list-link:hover, .examples-list-link:focus {
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
}

.thumb {
  position: relative;
  overflow: hidden;
}

.overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  opacity: 0.9;
  padding: 77px 24px;
  background-color: var(--accent-color);
  color: var(--primary-white-color);
  font-size: 18px;
  line-height: 1.56;
  transform: translateY(101%);
  transition: transform var(--transition-duration) var(--transition-timing-function);
}

.examples-list-link:hover .overlay,
.examples-list-link:focus .overlay {
  transform: translateY(0%);
}

.examples-list-title {
  margin-bottom: 4px;
  color: var(--primary-text-color);
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
}

.examples-list-text {
  color: var(--secondary-text-color);
  font-size: 16px;
  line-height: 1.87;
}

.examples-list-content {
  padding-top: 20px;
  padding-right: 24px;
  padding-bottom: 20px;
  padding-left: 24px;
}

.footer {
  padding-top: 60px;
  padding-bottom: 60px;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  background-color: var(--secondary-bg-color);
}

.footer-address-container {
  margin-bottom: 60px;
}

.address-text {
  margin-bottom: 9px;
  text-align: center;
  color: var(--primary-white-color);
  font-style: normal;
  line-height: 1.71;
}

.address-list-link {
  display: flex;
  flex-direction: column;
  text-align: center;
  color: var(--footer-text-color);
  font-style: normal;
  line-height: 1.71;
  transition: color var(--transition-duration) var(--transition-timing-function);
}

.address-list-link:hover, .address-list-link:focus {
  color: var(--accent-color);
}

.address-list-item:not(:last-child) {
  margin-bottom: 9px;
}

.footer-social-container {
  margin-bottom: 60px;
}

.footer-text {
  display: block;
  margin-bottom: 20px;
  text-align: center;
  color: var(--primary-white-color);
  font-weight: 700;
  text-transform: uppercase;
}

.footer-social-link {
  background-color: rgba(255, 255, 255, 0.1);
  border-radius: 50%;
  transition: background-color var(--transition-duration) var(--transition-timing-function);
}

.footer-social-link:hover, .footer-social-link:focus {
  background-color: var(--accent-color);
}

.footer-icon {
  fill: var(--primary-white-color);
}

.footer-form {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.footer-form-box {
  display: block;
  margin-left: auto;
  margin-right: auto;
  background-color: transparent;
  width: 450px;
  height: 50px;
  padding: 15px;
  margin-bottom: 20px;
  border: 1px solid rgba(255, 255, 255, 0.3);
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
  border-radius: 4px;
  color: var(--primary-white-color);
}

.footer-form-btn-icon {
  fill: #ffffff;
  width: 24px;
  height: 24px;
  margin-left: 10px;
}
/*# sourceMappingURL=portfolio.css.map */