.examples-list {
  @media screen and (min-width: 768px) {
    display: flex;
    flex-wrap: wrap;
    margin-right: calc(-1 * var(--card-set-gap));
    margin-bottom: calc(-1 * var(--card-set-gap));
  }
}

.examples-list-item {
  background: var(--primary-white-color);
  border: 1px solid #eeeeee;

  &:not(:last-child) {
    margin-bottom: 30px;
  }

  @media screen and (min-width: 768px) {
    margin-right: var(--card-set-gap);
    margin-bottom: var(--card-set-gap);
    flex-basis: calc(100% / 2 - var(--card-set-gap));
  }

  @media screen and (min-width: 1200px) {
    flex-basis: calc(100% / 3 - var(--card-set-gap));
  }
}

.examples-list-link {
  transition: box-shadow var(--transition-duration)
    var(--transition-timing-function);

  &:hover,
  &:focus {
    box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06),
      1px 4px 6px rgba(0, 0, 0, 0.16);
  }
}

.thumb {
  position: relative;
  overflow: hidden;
}

.overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  padding: 77px 24px;
  opacity: 0;
  overflow-y: auto;
  color: var(--primary-white-color);
  background-color: var(--accent-color);

  font-size: 18px;
  line-height: 1.56;

  transform: translateY(101%);

  transition: transform var(--transition-duration)
    var(--transition-timing-function);

  .examples-list-link:hover &,
  .examples-list-link:focus & {
    opacity: 0.9;
    transform: translateY(0%);
  }

  @media screen and (min-width: 320px) and (max-width: 415px) {
    padding: 24px 24px;
  }

  @media screen and (min-width: 1200px) {
    padding: 63px 24px;
  }
}

.examples-list-title {
  margin-bottom: 4px;

  color: var(--primary-text-color);
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
}

.examples-list-text {
  color: var(--secondary-text-color);
  font-size: 16px;
  line-height: 1.87;
}

.examples-list-content {
  padding-top: 20px;
  padding-right: 24px;
  padding-bottom: 20px;
  padding-left: 24px;
}
