.clients {
  // padding-top: 94px;
  padding-top: 60px;
  // padding-bottom: 145px;
  padding-bottom: 60px;
}

.clients-list {
  display: flex;
  flex-wrap: wrap;
  margin-right: calc(-1 * var(--card-set-gap));
  margin-bottom: calc(-1 * var(--card-set-gap));
}

.clients-list-item {
  margin-right: var(--card-set-gap);
  margin-bottom: var(--card-set-gap);
  flex-basis: calc(100% / 2 - var(--card-set-gap));

  // width: 170px;
  width: 210px;
  height: 90px;
}

.clients-list-link {
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid var(--icon-color);
  border-radius: 4px;

  transition: border var(--transition-duration)
    var(--transition-timing-function);

  &:hover,
  &:focus {
    border: 1px solid var(--accent-color);
  }
}

.clients-logo {
  fill: var(--icon-color);

  transition: fill var(--transition-duration) var(--transition-timing-function);

  .clients-list-link:hover &,
  .clients-list-link:focus & {
    fill: var(--accent-color);
  }
}
