.features {
  // padding-top: 94px;
  // padding-bottom: 94px;
  padding-top: 60px;
  padding-bottom: 60px;
}

.features-list {
  @media screen and (min-width: 768px) {
    display: flex;
    flex-wrap: wrap;
    margin-right: calc(-1 * var(--card-set-gap));
    margin-bottom: calc(-1 * var(--card-set-gap));
  }
}

.features-list-item {
  @media screen and (min-width: 768px) {
    display: flex;
    align-content: center;
    flex-direction: column;
    justify-content: start;
    margin-right: var(--card-set-gap);
    margin-bottom: var(--card-set-gap);
    flex-basis: calc(100% / 2 - var(--card-set-gap));
  }
  @media screen and (min-width: 1200px) {
    flex-basis: calc(100% / 4 - var(--card-set-gap));
  }
}

.features-list-item {
  &:not(:last-child) {
    margin-bottom: 30px;
  }
}

.icon-features-container {
  height: 120px;
  max-width: 450px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 30px;
  background-color: var(--grey-bg-color);
  border-radius: 4px;
}

.icon-features {
  width: 70px;
  height: 70px;
}

.features-list-title {
  margin-bottom: 10px;
  text-align: center;

  font-weight: 700;
  line-height: 1.142;
  text-transform: uppercase;

  @media screen and (min-width: 768px) {
    text-align: start;
  }
}

.features-list-text {
  color: var(--secondary-text-color);
  line-height: 1.71;
}
