.features {
  padding-top: 94px;
  padding-bottom: 94px;
}

.features-list {
  display: flex;
  flex-wrap: wrap;
  margin-right: calc(-1 * var(--card-set-gap));
  margin-bottom: calc(-1 * var(--card-set-gap));
}

.features-list-item {
  display: flex;
  align-content: center;
  flex-direction: column;
  justify-content: start;
  margin-right: var(--card-set-gap);
  margin-bottom: var(--card-set-gap);
  flex-basis: calc(100% / 4 - var(--card-set-gap));
}

.icon-features-container {
  height: 120px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 30px;
  background-color: var(--grey-bg-color);
  border-radius: 4px;
}

.icon-features {
  width: 70px;
  height: 70px;
}

.features-list-title {
  margin-bottom: 10px;

  font-weight: 700;
  line-height: 1.142;
  text-transform: uppercase;
}

.features-list-text {
  max-width: 270px;

  color: var(--secondary-text-color);
  line-height: 1.71;
}
