.header {
  border-bottom: 1px solid #ececec;
}

.mobile-burger-btn {
  width: 40px;
  height: 40px;
  background-color: transparent;
  border: transparent;
}

.mobile-burger-icon {
  width: 24px;
  height: 16px;
  fill: #000000;

  .mobile-burger-btn:hover &,
  .mobile-burger-btn:focus & {
    fill: var(--accent-color);
  }
}

/* -------NAV-LIST--------- */

// .nav {
//   display: flex;
//   align-items: center;
// }

.nav-list {
  display: none;
  // display: flex;
  // align-items: center;
}

.nav-list-item {
  &:not(:last-child) {
    margin-right: 50px;
  }
}

.nav-list-link {
  padding-top: 32px;
  padding-bottom: 32px;

  color: var(--primary-text-color);
  font-weight: 500;
  line-height: 1.066;
  letter-spacing: 0.02em;

  transition: color var(--transition-duration) var(--transition-timing-function);

  &:hover,
  &:focus {
    color: var(--accent-color);
  }
}

.current-link {
  position: relative;

  color: var(--accent-color);

  &::after {
    position: absolute;
    bottom: -2px;
    right: 0;

    display: block;
    content: "";
    width: 100%;
    height: 4px;
    background-color: var(--accent-color);
    border-radius: 2px;
  }
}

/* ----------HEADER-CONTACT----------- */

.header-contact-list {
  display: none;

  align-items: center;
  margin-left: auto;

  font-weight: 500;
  line-height: 1.142;
  letter-spacing: 0.02em;
}

.header-contact-list-item {
  display: none;

  &:not(:last-child) {
    margin-right: 50px;
  }
}

.header-contact-list-item .link {
  display: flex;
  align-items: center;
  padding-top: 32px;
  padding-bottom: 32px;

  color: var(--secondary-text-color);

  transition: color var(--transition-duration) var(--transition-timing-function);

  &:hover,
  &:focus {
    color: var(--accent-color);
  }
}

.icon-mail {
  margin-right: 10px;
  width: 16px;
  height: 12px;

  transition: fill var(--transition-duration) var(--transition-timing-function);

  .header-contact-list-item .link:hover &,
  .header-contact-list-item .link:focus & {
    fill: var(--accent-color);
  }
}

.icon-tel {
  margin-right: 10px;
  width: 10px;
  height: 16px;

  transition: fill var(--transition-duration) var(--transition-timing-function);

  .header-contact-list-item .link:hover &,
  .header-contact-list-item .link:focus & {
    fill: var(--accent-color);
  }
}
