.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) scale(1);
  opacity: 1;

  width: 100%;
  max-width: 450px;
  max-height: 609px;
  overflow: scroll;
  padding: 40px;
  background-color: #ffffff;
  transition: all var(--transition-duration) var(--transition-timing-function);

  @media screen and (min-width: 1200px) {
    width: 528px;
    height: 580px;
  }
}

.modal-close-btn {
  position: absolute;
  top: 8px;
  right: 8px;

  display: flex;
  align-items: center;
  width: 30px;
  height: 30px;
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 50%;
  background-color: transparent;
  cursor: pointer;
}

.modal-close-icon {
  width: 18px;
  height: 18px;
  fill: #000000;

  transition: fill var(--transition-duration) var(--transition-timing-function);

  .modal-close-btn:hover &,
  .modal-close-btn:focus & {
    fill: var(--accent-color);
  }
}

.modal-text {
  display: block;
  margin-bottom: 12px;

  font-size: 20px;
  line-height: 1.15;
  text-align: center;
}
