.team {
  padding-top: 60px;
  padding-bottom: 60px;
  background-color: var(--grey-bg-color);

  @media screen and (min-width: 1200px) {
    padding-top: 94px;
    padding-bottom: 94px;
  }
}

.team-list {
  @media screen and (min-width: 768px) {
    display: flex;
    flex-wrap: wrap;
    margin-right: calc(-1 * var(--card-set-gap));
    margin-bottom: calc(-1 * 29);
  }
}

.team-list-item {
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;

  background-color: var(--primary-white-color);

  &:not(:last-child) {
    margin-bottom: 30px;
  }

  @media screen and (min-width: 768px) {
    margin-right: var(--card-set-gap);
    margin-bottom: var(--card-set-gap);
    flex-basis: calc(100% / 2 - var(--card-set-gap));
  }

  @media screen and (min-width: 1200px) {
    flex-basis: calc(100% / 4 - var(--card-set-gap));
  }
}

.team-list-content {
  padding-top: 30px;
  padding-right: 32px;
  padding-left: 32px;
  padding-bottom: 33px;
}

.team-list-title {
  margin-bottom: 10px;

  font-weight: 500;
  font-size: 16px;
  line-height: 1.187;
  text-align: center;
}

.team-list-position {
  color: var(--secondary-text-color);
  font-size: 16px;
  line-height: 1.187;
  text-align: center;
  margin-bottom: 16px;
}
