.filter-btn-list {
  display: flex;

  justify-content: start;
  flex-wrap: wrap;

  margin-bottom: 25px;
  margin-right: -8px;

  @media screen and (min-width: 768px) {
    display: flex;
    justify-content: center;
    margin-bottom: 30px;
  }
  @media screen and (min-width: 1200px) {
    margin-bottom: 50px;
  }
}

.filter-btn-item {
  margin-right: 8px;
  margin-bottom: 15px;
}

.filter-btn {
  padding-top: 6px;
  padding-bottom: 6px;
  padding-right: 22px;
  padding-left: 22px;
  text-align: center;
  justify-content: center;
  border-radius: 4px;
  border: transparent;

  background-color: #f5f4fa;

  font-weight: 500;
  font-size: 16px;
  line-height: 1.62;

  transition: background-color var(--transition-duration)
      var(--transition-timing-function),
    color var(--transition-duration) var(--transition-timing-function),
    box-shadow var(--transition-duration) var(--transition-timing-function);

  &:hover,
  &:focus {
    color: var(--primary-white-color);
    background-color: var(--accent-color);
    cursor: pointer;
    box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08),
      0px 2px 2px rgba(0, 0, 0, 0.12);
  }
}
