.logo {
  font-family: "Raleway";
  font-weight: 700;
  font-size: 24px;
  line-height: 1.16;

  &.black {
    padding-top: 16px;
    padding-bottom: 16px;

    color: var(--primary-text-color);

    @media screen and (min-width: 768px) and (max-width: 1199px) {
      margin-right: 88px;
    }

    @media screen and (min-width: 1200px) {
      margin-right: 93px;
      padding-top: 24px;
      padding-bottom: 24px;
    }
  }

  &.white {
    display: block;
    margin-bottom: 20px;
    text-align: center;

    color: var(--primary-white-color);
  }

  @media screen and (min-width: 1200px) {
    font-size: 26px;
    line-height: 1.19;
  }
}

.logo-web {
  color: var(--accent-color);
}
