.social-list {
  display: flex;
  align-items: center;
  justify-content: center;
}

.social-list-item {
  width: 44px;
  height: 44px;

  &:not(:last-child) {
    margin-right: 10px;
  }
}
