.title {
  margin-bottom: 30px;

  @include font(700, 28px, 33px);
  text-align: center;

  @media screen and (min-width: 1200px) {
    margin-bottom: 50px;
    font-weight: 700;
    font-size: 36px;
    line-height: 1.166;
  }
}
