:root {
  --primary-white-color: #ffffff;
  --secondary-bg-color: #2f303a;
  --accent-color: #2196f3;
  --primary-text-color: #212121;
  --secondary-text-color: #757575;
  --footer-text-color: rgba(255, 255, 255, 0.6);
  --grey-bg-color: #f5f4fa;
  --btn-hover-bg-color: #188ce8;
  --card-set-gap: 30px;
  --icon-color: #afb1b8;
  --transition-duration: 250ms;
  --transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
